.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.realative-wrapper{
  position: relative;
}

.realative-wrapper.opacity div{
  opacity: 0.2;
  cursor: not-allowed;
}

.realative-wrapper.opacity div:first-of-type{
  opacity: 1;
}

.alert {
  color: red;
  font-size: 12px;
  padding: 0 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out
} 
.alert.invisible {
  opacity: 1;
  visibility: visible;
}

#main-table table thead tr th:first-of-type{
  padding-left: 24px;
}

#main-table table tbody tr td:first-of-type{
  padding-left: 24px!important;
}

#main-table table tbody tr td:last-of-type{
  padding-left: 24px;
}